@media screen and (min-width:600px){
    h1{
        color: var(--orange);
        font-size: 45px; 

    }
    .btn{
        margin-top: 50px;

    }
 

}
/*@media screen and (min-width:1000px){
    .subject-cards{
        display: flex;
    }
    .methods{
        display:flex;
    }
    .methods-text{
        margin-top: 150px;
    }
    .objectives{
        display:flex;
    }
    .objective-image{
        padding:50px;
        max-width:400px;
        margin-top: 20px;
    }
    .case-text{
        padding: 50px;
    }
    .service-info{
        display:flex;
        justify-content: space-around;
    }
    .service-info img{
        width:400px;
    }
    .service-info ul {
        list-style: none;
        color: var(--orange);
        margin-top: 70px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
    .footer-nav ul li {
        list-style: none;
    }
    .footer-nav ul li a{
        
    }
    .media-bar{
        display: flex;
    }
}

@media screen and (max-width:600px){
    body{
        position: absolute;
    }
    .banner-text{
        top:-280px;
    }
    .banner-text h1{
        font-size: 30px;
        font-weight: 700px;
    }
    .banner-text h2{
        font-size: 20px;
    }
    .about-text h2{
        font-size: 30px;
    }
    .about-text h3{
        font-size: 25px;
    }
    .about-text p{
        width: 800px;
        margin-left: -150px;   
    }
    .subject-cards{
        display: inline-block;
        margin-left: 50px;
    }
    .cards{
        margin-top: 30px;
    }
    .methods{
        display: inline-block;
    }
    .objectives{
        display: inline-block;
    }
    .objective-text{
        text-align: center;
    }
    .case{
        height: 700px;
    }
    .case p{
        width: 900px;
        margin-left: -205px; 
    }
    .service-info{
        display: inline-block;
        margin-left: 40px;
    }
    .service-info img{
        margin-top: 30px;
    }
    .service-info ul li{
        width: 400px;
    }
    footer{
        background-color: var(--orange);
    }
    .footer{
        display: inline-block;
    }
    
}*/