@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Red:hsl(0,100%,50%);
    --DarkRed:rgb(98, 25, 25);
    --blue:hsl(240, 100%, 50%);
    --lessblue:hsl(240, 47%, 48%);
    --orange:hsl(24,100%,50%);
    --lightorange:rgb(246, 152, 90);
    --yellow:hsl(60,100%,50%);
    --white:hsl(0,0%,100%);
    font-family: montserrat;
}
img{
    max-inline-size: 100%;
    block-size: auto;
}



.banner{
    display: flex;
    justify-content: space-around;
    
}
.banner-image {
    width:600px;
}
.banner-text{
    margin: 200px 100px 0 -100px;
    text-align: left;
}
.banner-text h1{
    color:var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.banner-text h2{
    font-weight : lighter;
    margin-top: 5px;
}
.btn{
    width: 200px;
    height: 50px;
    border: 0;
    margin-top: 20px;
    background-color: var(--orange);
    border-radius: 20px;
}
.btn a{
    text-decoration: none;
    font-size: 1rem;
    color:var(--white);
}
.about{
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
    color:var(--orange);
}
.about-text h3{
    margin-top: 10px;
}
.about-text p{
    margin-top: 30px;
    line-height: 30px;
    color:#000000;
    max-width: 1224px;
    margin: 0 auto;
}