@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Red:hsl(0,100%,50%);
    --DarkRed:rgb(98, 25, 25);
    --blue:hsl(240, 100%, 50%);
    --lessblue:hsl(240, 47%, 48%);
    --orange:hsl(24,100%,50%);
    --lightorange:rgb(246, 152, 90);
    --yellow:hsl(60,100%,50%);
    --white:hsl(0,0%,100%);
    font-family: montserrat;
}
img{
    max-inline-size: 100%;
    block-size: auto;
}
h1{
    color: var(--orange);
    font-size: 35px; 
}
h2{
    color: var(--orange);
    font-size: 30px; 
    
}
h3{
    color: var(--orange);
    font-size: 30px;
}
p{
    font-size: 20px;
    color:var(--orange)
}
body{
    display: inline-block;
    text-align: center;
}
.banner-image{
    
}
.banner-text{
    margin-top: -170px;
}
.btn{
    background: var(--orange);
    width:200px;
    height:50px;
    margin-top: 25px;
    border: 0;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    transform: scale(1.08);
}
.btn a{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;  
}
.about{
    margin-top: 50px;
}
.about-text h3{
    margin-top: 30px;
}
.about-text p{
    margin-top: 30px;
    line-height: 30px;
}
.subject-cards{
    display: inline-block;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 50px;
}
.subject{
    padding:30px 20px;
    text-align: center;
}
.subject h4{
    font-size: 20px;
}
.cards{
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    width: 300px;
    height: 350px;
    background: var(--white);
    border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
}
.cards img{
    border-radius: 10px 10px 0 0;
}
.cards:hover{
    transform: scale(1.08);
    cursor: pointer;
}
   

/*Front page/Front page text
.banner{
    display: flex;
    position: relative;
}
.banner-image{
    justify-content: center;
    margin: 0 auto;
}
.banner-text{
    position: absolute;
    margin: 500px 0 0 10px;
    left: 0;
    right:0;
    text-align: center;
}
.banner-text h1{
    font-size: 4rem;
    color: var(--orange);
}
.banner-text h2{
    font-size: 2rem;
    color: var(--orange);
}
.explore-btn{
    background: var(--orange);
    height: 50px;
    width: 200px;
    border: 0;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
.explore-btn:hover{
    transform: scale(1.08);
}
.explore-btn a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
}
#about{
    margin-top: 50px;
}
.about-text{
    text-align: center;
}
.about-text h3{
    margin-top: 20px;
}
.about-text p{
    margin-top: 20px;
    text-align: center;
    padding:0 220px 0 220px;
    line-height: 30px;
    color: var(--orange);
}
.subject-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 50px;
}
.subject{
    padding:50px 20px;
    text-align: center;
}
.subject h4{
    font-size: 25px;
    color: var(--orange);
}
.cards{
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    width: 300px;
    height: 400px;
    background: var(--white);
    border-radius: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
}
.cards:hover{
    transform: scale(1.08);
    cursor: pointer;

}
.subject-image{
    height:200px;
    border-radius: 10px 10px 0 0;
}
.methods{
    display: flex;
    padding: 0 90px;
    justify-content: center;
    margin-top: 100px;
}
.methods-text{
    max-width: 600px;
    margin-top: 100px;
    text-align: center;
}
.method ,.objective{
    margin-top:50px;
}
.method p,{
    margin-top: 100px;
}
.objectives{
    display: flex;
    padding: 0 90px;
    justify-content: space-around;
    margin-top: 100px;
}
.objective-image{
    width:500px;
}
.objective-text{
    max-width: 600px;
}
.case{
    background: linear-gradient(45deg,var(--lightorange), var(--orange));
    height: 450px;
    margin-top: 100px;
}
.case h3{
    color:var(--white);
    text-align: center;
    padding:40px 100px ;
    
}
.case p{
    color:var(--white);
    text-align: center;
    padding:30px 300px ;
    font-size: 1.2rem;
    margin-top: -30px;
}
.services{
    margin-top: 50px;
}
.services h3{
    text-align: center;
}
.service-info{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.service-info img{
    width:400px;
}
.service-info h3{
    font-size: 15px;
}
.service-info ul{
    list-style: none;
    margin-top: 50px;
    text-align: center;
}
.service-info ul li{
    margin-top: 15px;
    font-size: 20px;
}
.service-info ul li p{
    font-size: 25px;
    text-decoration: underline;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--orange);
    padding: 35px;
    color: var(--white);
    margin-top: 100px;
}
h5{
    font-size: 20px;
    color: var(--white);
}
.footer-nav ul{
    list-style: none;
    margin-top: 20px;
}
.footer .media{
    list-style: none;
    
}
.footer-nav ul li a{
    text-decoration: none;
    line-height: 30px;
    color: var(--white);
    transition: all 0.5s ease-in-out;
    
}
.footer-nav ul li a:hover{
    background-color: var(--lightorange);
    width: 100px;
    opacity:0.3;
    border-radius: 10px;
}
.footer-nav ul li{
   
}
.footer-nav ul li i{
    line-height: 40px;
}
.media{
    display: flex;
    margin-top: 20px;

}
.media li a i{
    color: var(--white);
    transition: all 0.5s ease-in-out;
}
.media li a i:hover{
    transform: scale(1.08);
}
.attribute{
    text-align: center;
}
.attribute p{
    font-size: 1rem;
}
*/